body {
    font-family: 'Arial', sans-serif;
    background-color: white !important;

  }
 
  
  
  .flex {
    display: flex;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .border-r {
    border-right-width: 1px;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .w-64 {
    width: 16rem;
  }
  
  .flex-1 {
    flex: 1;
  }
  body {
    background-color: white !important;
  }
  